{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans 'Account creation successful' %}{% endblock %}

{% block content %}

<h1>{% trans 'Account creation successful' %}</h1>

<p>{% trans "We've emailed you instructions for confirming the email address you submitted. You should be receiving it shortly." %}</p>

{% endblock %}
